@media (prefers-color-scheme: light) {
    :root {
        --bg: #eceff4;
        --text-color: black;
        --list-bg: #d8dee9;
        --item-bg: #eceff4;
        --bar-bg: #d8dee9;
        --button-bg: #d8dee9;
        --todo: #a3be8c;
        --doing: #ebcb8b;
        --done: #b48ead;
        --message-bg: #bf616a;
        --popup-bg: #d8dee9;
        --login-box-bg: #eceff4;
        --form-bg: #eceff4;
        --form-placeholder-fg: #434c5eb9;
        --login-button-bg: #81a1c1;
        --login-button-hover-bg: #88c0d0;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #4c566a;
        --text-color: white;
        --list-bg: #3b4252;
        --item-bg: #434c5e;
        --bar-bg: #2e3440;
        --button-bg: #3b4252;
        --todo: #a3be8c;
        --doing: #ebcb8b;
        --done: #b48ead;
        --message-bg: #bf616a;
        --popup-bg: #2e3440b3;
        --login-box-bg: #3b4252;
        --form-bg: #434c5e;
        --form-placeholder-fg: #d8dee9b9;
        --login-button-bg: #81a1c1;
        --login-button-hover-bg: #88c0d0;
    }
}

.light-mode {
    --bg: #eceff4;
    --text-color: black;
    --list-bg: #d8dee9;
    --item-bg: #eceff4;
    --bar-bg: #d8dee9;
    --button-bg: #d8dee9;
    --todo: #a3be8c;
    --doing: #ebcb8b;
    --done: #b48ead;
    --popup-bg: #d8dee9b3;
    --message-bg: #bf616a;
    --login-box-bg: #eceff4;
    --form-bg: #d8dee9;
    --form-placeholder-fg: #434c5eb9;
    --login-button-bg: #81a1c1;
    --login-button-hover-bg: #88c0d0;
}

.dark-mode {
    --bg: #4c566a;
    --text-color: white;
    --list-bg: #3b4252;
    --item-bg: #434c5e;
    --bar-bg: #2e3440;
    --button-bg: #3b4252;
    --todo: #a3be8c;
    --doing: #ebcb8b;
    --done: #b48ead;
    --popup-bg: #2e3440b3;
    --message-bg: #bf616a;
    --login-box-bg: #3b4252;
    --form-bg: #434c5e;
    --form-placeholder-fg: #d8dee9b9;
    --login-button-bg: #81a1c1;
    --login-button-hover-bg: #88c0d0;
}
