<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pyanban</title>
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="/static/js/home.js"></script>
    </head>
    <body>
        <nav>
            <h1>Home</h1>
            <span id="bar-right">
                <button id="toggle_dark" onclick="toggle_dark()">🌙</button>
                % if user:
                    <h3>${user}</h3>
                    <img class="nav-pfp" src="/static/images/pfps/${user}" alt="pfp">
                % else:
                    <a onclick="document.getElementById('login-popup').classList.toggle('hidden')">Log in</a>
                % endif
            </span>
        </nav>
        <section id="main">
            <ol class="list" id="todo-box">
                <div class="list-title">
                    <h2>To do</h2>
                    <h2>+</h2>
                </div>
                ${add_items(todos)}
            </ol>
            <ol class="list" id="doing-box">
                <div class="list-title">
                    <h2>Doing</h2>
                </div>
                ${add_items(doing)}
            </ol>
            <ol class="list" id="done-box">
                <div class="list-title">
                    <h2>Done</h2>
                </div>
                ${add_items(done)}
            </ol>
        </section>
        <div class="hidden" id="login-popup" onclick="this.classList.toggle('hidden')">
            <div id="login-box">
                <h2>Log in</h2>
                <form method="POST" action="/login">
                    <input type="text" name="username" placeholder="Username" autofocus required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Log in">
                </form>
            </div>
            <div class="hidden" id="signup-box">
            </div>
        </div>
    </body>
</html>

<%def name="add_items(item_dict)">
    % for key, val in item_dict.items():
        <li class="list-item" id="item-${key}">
            <div class="item-left">
                <h3 class="item-text">${val["text"]}</h3>
                <h4 class="item-date">${val["date"]}</h4>
                <h4 class="item-due">Due: loading...</h4>
            </div>
            <div class="item-right">
                <img class="item-pfp" src="/static/images/pfps/${val['owner']}" alt="pfp">
                % if user == val["owner"]:
                    <button class="arrow-button" onclick="move_left(this)"><</button>
                    <button class="arrow-button" onclick="move_right(this)">></button>
                % endif
            </div>
        </li>
    % endfor
</%def>
